.u-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.u-white-space-nowrap {
  white-space: nowrap;
}

.u-word-break-all {
  word-wrap: break-word;
  word-break: break-all;
}

.u-f10 {
  font-size: 10px;
}

.u-f12 {
  font-size: 12px;
}

.u-f14 {
  font-size: 14px;
}

.u-f16 {
  font-size: 16px;
}

.u-f18 {
  font-size: 18px;
}

.u-f20 {
  font-size: 20px;
}

.u-f24 {
  font-size: 24px;
}

.u-f36 {
  font-size: 36px;
}

.u-fb {
  font-weight: 700;
}

.u-fn {
  font-weight: normal;
}

.u-text-center {
  text-align: center;
}

.u-text-left {
  text-align: left;
}

.u-text-right {
  text-align: right;
}

.u-vm {
  vertical-align: middle;
}

.u-del {
  text-decoration: line-through;
}

/* 盒模型相关的工具类，margin, padding, box-shadow, border等 */
.u-inline-block {
  display: inline-block;
}

.u-block {
  display: block;
}

.u-none {
  display: none;
}

.u-hidden {
  visibility: hidden;
}

.u-op-0 {
  opacity: 0;
}

.u-pr {
  position: relative;
}

.u-pa {
  position: absolute;
}

.u-pf {
  position: fixed;
}

.u-fl {
  float: left;
}

.u-fr {
  float: right;
}

.u-clear {
  clear: both;
}

.u-clear::after {
  content: "\20";
  display: block;
  clear: both;
}

.u-block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.u-ma {
  margin-left: auto;
  margin-right: auto;
}

.u-mt-60 {
  margin-top: 60px;
}

.u-mb-60 {
  margin-bottom: 60px;
}

.u-mr-60 {
  margin-right: 60px;
}

.u-ml-60 {
  margin-left: 60px;
}

.u-mt-50 {
  margin-top: 50px;
}

.u-mb-50 {
  margin-bottom: 50px;
}

.u-mr-50 {
  margin-right: 50px;
}

.u-ml-50 {
  margin-left: 50px;
}

.u-mt-30 {
  margin-top: 30px;
}

.u-mb-30 {
  margin-bottom: 30px;
}

.u-mr-30 {
  margin-right: 30px;
}

.u-ml-30 {
  margin-left: 30px;
}

.u-mt-20 {
  margin-top: 20px;
}

.u-mb-20 {
  margin-bottom: 20px;
}

.u-mr-20 {
  margin-right: 20px;
}

.u-ml-20 {
  margin-left: 20px;
}

.u-mt-15 {
  margin-top: 15px;
}

.u-mb-15 {
  margin-bottom: 15px;
}

.u-mr-15 {
  margin-right: 15px;
}

.u-ml-15 {
  margin-left: 15px;
}

.u-mt-10 {
  margin-top: 10px;
}

.u-mb-10 {
  margin-bottom: 10px;
}

.u-mr-10 {
  margin-right: 10px;
}

.u-ml-10 {
  margin-left: 10px;
}

.u-mt-5 {
  margin-top: 5px;
}

.u-mb-5 {
  margin-bottom: 5px;
}

.u-mr-5 {
  margin-right: 5px;
}

.u-ml-5 {
  margin-left: 5px;
}

.u-pt-30 {
  padding-top: 30px;
}

.u-pb-30 {
  padding-bottom: 30px;
}

.u-pr-30 {
  padding-right: 30px;
}

.u-pl-30 {
  padding-left: 30px;
}

.u-pt-20 {
  padding-top: 20px;
}

.u-pb-20 {
  padding-bottom: 20px;
}

.u-pr-20 {
  padding-right: 20px;
}

.u-pl-20 {
  padding-left: 20px;
}

.u-pt-15 {
  padding-top: 15px;
}

.u-pb-15 {
  padding-bottom: 15px;
}

.u-pr-15 {
  padding-right: 15px;
}

.u-pl-15 {
  padding-left: 15px;
}

.u-pt-10 {
  padding-top: 10px;
}

.u-pb-10 {
  padding-bottom: 10px;
}

.u-pr-10 {
  padding-right: 10px;
}

.u-pl-10 {
  padding-left: 10px;
}

.u-pt-5 {
  padding-top: 5px;
}

.u-pb-5 {
  padding-bottom: 5px;
}

.u-pr-5 {
  padding-right: 5px;
}

.u-pl-5 {
  padding-left: 5px;
}

.u-mr-40 {
  margin-right: 40px;
}

.u-mb-40 {
  margin-bottom: 40px;
}

.u-mr-60 {
  margin-right: 60px;
}

.u-w100 {
  width: 100%;
}

.u-tl {
  text-align: left;
}

.u-tc {
  text-align: center;
}

.u-tr {
  text-align: right;
}
